{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    <p id="message" style="text-align:center;padding-top:50px;display:none;">
        Vous allez être redirigé vers le site de la banque&hellip;
    </p>
    <form action="{{ action|raw }}" method="{{ method }}" name="MoneticoPaymentForm" id="MoneticoPaymentForm">
        {% for name, value in fields -%}
        <input type="hidden" name="{{ name }}" value="{{ value|raw }}">
        {%- endfor %}
        <noscript>
            <p style="text-align:center;padding-top:50px;">
                <button id="submit" type="submit" value="Continuer vers le site de la banque"></button>
            </p>
        </noscript>
    </form>
    <script type="application/javascript">
        document.getElementById('message').style.display = 'block';
        document.getElementById('MoneticoPaymentForm').submit();
    </script>
{% endblock %}
